<div class="input-tab-content">
  <p>
    This calculation module determines wind forces on building structures based on the Directional Procedure
    as described in
    <strong>Chapter 27 of the ASCE 7-10.</strong>
  </p>
  <mat-form-field>
    <input matInput placeholder="Company" [(ngModel)]="this.calc.inputs.company">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Project" [(ngModel)]="this.calc.inputs.project">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Engineer" [(ngModel)]="this.calc.inputs.engineer">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Calculation Description" [(ngModel)]="this.calc.inputs.description">
  </mat-form-field>
</div>