<div class="input-tab-content">
  <div id="accordion-margin"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let section of sections; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{section.sectionName}}
        </mat-panel-title>
        <mat-panel-description>
          {{section.materialName}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Section Type">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Section">
      </mat-form-field>
      <div class="delete-entity-button-container">
        <button mat-button color="warn" class="delete-entity-button" (click)="deleteSection(i)">
          <i class="fa fa-minus" aria-hidden="true"></i> DELETE
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button class="add-entity-button" mat-raised-button color="accent" (click)="addSection()">
    <i class="fa fa-plus" aria-hidden="true"></i> ADD SECTION
  </button>
</div>
