<div class="input-tab-content">
  <app-wood-beam-section-settings></app-wood-beam-section-settings>
  <div class="input-sub-title">
      Sections:
  </div>
  <div class="section-accordion-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let section of this.calc.inputs.sections; let i = index">
          <mat-expansion-panel-header (click)="changeSection(i)">
            <mat-panel-title>
              {{this.calc.inputs.sections[i].section}}
            </mat-panel-title>
            <mat-panel-description>
              {{section.material}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-wood-beam-sections-materials [sectionIndex]="i"></app-wood-beam-sections-materials>
          <div class="delete-entity-button-container">
            <button mat-button color="primary" class="delete-entity-button" *ngIf="this.calc.inputs.sections.length > 1" (click)="deleteSection(i)">
              <i class="fa fa-minus" aria-hidden="true"></i> DELETE
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
  <button class="add-entity-button" mat-raised-button color="accent" (click)="addSection()">
    <i class="fa fa-plus" aria-hidden="true"></i> ADD SECTION
  </button>
</div>
