/* You can add global styles to this file, and also import other style files */

@import './themes/napior.css';
@import './themes/report.css';
@import './themes/graphic.css';
@import './themes/calc-modules.css';

html {
  font-family: roboto-regular;
}

app-root {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: roboto-regular;
  margin: 0px;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media print {
  body * {
    visibility: hidden;
    overflow: visible;
  }
  @page {
    size: 8.5in 11in; /*5.7in 7.3419in;*/
    margin: 0in;
    overflow-y: visible;
  }
  #report-component-container * {
    visibility: visible;
    overflow: visible;
    flex: none;
  }
}

mat-form-field {
  width: 100%;
}

mat-radio-button {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

mat-select {
  width: 100%;
}

.input-tab-content {
  width: 90%;
  height: calc(100% - 110px);
  margin-right: 5%;
  margin-left: 5%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#loading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-title {
  text-align: center;
  width: 200px;
  color: #3c5c6c;
  font-size: 40px;
}

#loading-text {
  text-align: center;
  width: 200px;
  color: #3c5c6c;
  font-weight: bold;
}

app-seismic-loads,
app-home {
  height: 100%;
}

.screen-container {
  height: calc(100vh - 60px) !important;
}

h2 {
  color: #3c5c6c;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 0px;
}

.mat-button-toggle-checked {
  background-color: #3c5c6c;
  color: white;
}

.mat-button-toggle-group {
  background-color: white;
}

.fa {
  margin: 0px 5px 0px 5px;
}

#results-button-group {
  margin: 8px;
  width: 187px;
  z-index: 5;
  position: absolute;
  top: 60px;
  left: 500px;
}

.mat-dialog-container {
  padding: 0px !important;
  max-width: none !important;
}

md-dialog-container {
  margin: 0px !important;
  max-width: none !important;
  overflow: hidden !important;
}

.dialog-title {
  background-color: #3c5c6c;
  color: white;
}

.dynamic-table-container {
  overflow-y: auto;
}

.copyright-statement-container {
  position: absolute;
  bottom: 25px;
}

.copyright-statement {
  color: #7e7e7e;
}

.trial-snackbar {
  text-align: center;
  background-color: #3a3a3a;
  color: white;
  max-width: 500px !important;
  min-width: 124px !important;
  margin: 84px 24px 24px 24px !important;
}
.terms-and-privacy {
  color: #3c5c6c;
  text-decoration: underline;
  cursor: pointer;
}

.input-sub-title {
  margin-top: 20px;
  color: #3c5c6c;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.input-radio-group {
  margin: 15px 0px 15px 0px;
}

.input-radio-button {
  margin: 7px 0px 7px 0px;
}
