<div class="dialog-title">
  <h1>
    <i class="fa fa-lock" aria-hidden="true"></i>
    <span style="padding-left: 5px;">Forgot Password?</span>
  </h1>
</div>
<div class="dialog-content" fxLayout="column">
  <div *ngIf="emailState == 'unsent'" fxFlex="172px">
    <p>Provide your Napior email in the field below. We'll send a password-reset link to that address.</p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Napior Account Email" [(ngModel)]="email">
      <span matSuffix>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
    </mat-form-field>
    <div id="login-error">
      {{loginError}}
    </div>
  </div>
  <div *ngIf="emailState == 'sent'" fxFlex="172px" fxLayout="column" fxLayoutAlign="center center">
    <div id="email-sent">
      <i class="fa fa-check" aria-hidden="true"></i>Password Reset Email Sent!
    </div>
  </div>
  <div class="save-buttons" fxFlex="36px" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
    <button mat-raised-button mat-dialog-close>CLOSE</button>
    <button *ngIf="emailState == 'unsent'" mat-raised-button color="primary" (click)="sendPasswordReset()">
      <i *ngIf="sending" class="fa fa-circle-o-notch fa-spin fa-fw fa-lg"></i>
      <i *ngIf="!sending" class="fa fa-paper-plane" aria-hidden="true"></i>
      <span style="padding-left: 5px;">SEND RESET EMAIL</span>
    </button>
  </div>

</div>