<div class="input-tab-content">
  <p>
    This calculation module evaluates wood beams based on the provisions of the
    <strong>AWC NDS-2015</strong>
    , with load combinations from the
    <strong>ASCE 7-10</strong>
    and
    <strong>IBC 2015</strong>.
  </p>
  <mat-form-field>
    <input matInput placeholder="Company">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Project">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Engineer">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Calculation Description">
  </mat-form-field>
</div>